/* Html page Margin Alignment */
body 
{ 
	margin-top:0px; 
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	
}
.border 
{
	border-right:#1d1d1e 4px solid; 
	border-top: #1d1d1e 4px solid; 
	border-left:#1d1d1e 4px solid; 
	border-bottom: #1d1d1e 4px solid; 
}

.toplink-line
{
	font-family:  verdana;
	color: #eb721d;
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
}

.toplink
{
	font-family:verdana;
	color: #ffffff;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;
}

.toplink:hover
{
	font-family:verdana;
	color: #00ffff;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;
}

.leftlink
{
	font-family: verdana;
	color: #3f3f3f;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;
}

.leftlink:hover
{
	font-family: verdana;
	color: #4a4a4a;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;
}


.time
{
	font-family:Verdana;
	color: #030367;
	font-size: 11px;
	font-weight:none;
	text-decoration: none;
	padding-top:14px;
}

.time:hover
{
	font-family:Verdana;
	color: #030367;
	font-size: 11px;
	font-weight:none;
	text-decoration: none;
}
.leftlink
{
	font-family: Verdana;
	color: #4a4a4a;
	font-size: 11px;
	font-weight:strong;
	text-decoration: none;
	margin-left:10px;
	line-height:13px;
}

.leftlink:hover
{
	font-family: Verdana;
	color: #0951b5;
	font-size: 11px;
	font-weight:strong;
	text-decoration: none;
	margin-left:10px;
	line-height:13px;
}
.borderlink
{
	font-family: Verdana;
	color: #ffffff;
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
	margin-left:10px;
	line-height:13px;
}

.borderlink:hover
{
	font-family: Verdana;
	color: #ffffff;
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
	margin-left:10px;
	line-height:13px;
}

.leftdownlink
{
	font-family: Verdana;
	color: #ffffff;
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
	margin-left:5px;
	line-height:13px;
}

.leftdownlink:hover
{
	font-family: Verdana;
	color: #c4c5c7;
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
        margin-left:5px;	
	line-height:13px;
}


.toplink1
{
	font-family: Verdana; 	
	color: #216bc0;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;
}

.toplink1:hover
{
	font-family: Verdana;	
	color: #216bc0;
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;
}

.toplink2
{
	font-family:Verdana;
	color: #084c93;
	font-size: 10px;
	font-weight:bold;
	text-decoration: none;
}

.toplink2:hover
{
	font-family:Verdana;
	color: #0f72da;
	font-size: 10px;
	font-weight:bold;
	text-decoration: none;
}

.toplink3
{
	font-family:Verdana;
	color: #ffffff;
	font-size: 10px;
	font-weight:bold;
	text-decoration: none;
}

.toplink3:hover
{
	font-family:Verdana;
	color: #ffffff;
	font-size: 10px;
	font-weight:bold;
	text-decoration: none;
}

.toplink4
{
	font-family:Verdana;
	color: #000000;
	font-size: 10px;
	font-weight:bold;
	text-decoration: none;
}

.toplink4:hover
{
	font-family:Verdana;
	color: #585859;
	font-size: 10px;
	font-weight:bold;
	text-decoration: none;
}

.toplink5
{
	font-family:Verdana;
	color: #000000;
	font-size: 12px;
	font-weight:bold;
	text-decoration: none;
}

.toplink5:hover
{
	font-family:Verdana;
	color: #808080;
	font-size: 12px;
	font-weight:bold;
	text-decoration: none;
}



.whatsnew
{
	font-family:Verdana;
	color: #0b2b55;
	font-size: 13px;
	font-weight:bold;
	text-decoration: none;
}

.whatsnew:hover
{
	font-family:Verdana;
	color: #0b2b55;
	font-size: 13px;
	font-weight:bold;
	text-decoration: none;
}


p	
{
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	line-height: 16px;
	font-style: normal; 
	text-decoration: none;
	font-weight: normal;
	text-align: none;
}

b
{
	font-family: Verdana;
	font-size: 16px; 
	font-style: normal; 
	font-weight: bold; 
	color: #412705;
	line-height: 16px;
	text-decoration: none;
}

strong
{
	font-family: Verdana;
	font-size: 11px; 
	font-style: normal; 
	font-weight: bold; 
	color: #484848;
	line-height: 16px;
	text-decoration: none;
}


location
{
	font-family: Verdana;
	font-size: 11px; 
	font-style: normal; 
	font-weight: bold; 
	color: #484848;
	line-height: 16px;
	text-decoration: none;
}
h1 
{
	font-family: Verdana; 
	font-size: 16px;
	font-weight:bold;
	color: #196c9e;
	line-height:16px;
}

h2 
{
	font-family: Verdana;
	Font-size: 13px;
	color: #0b2b55;
	font-weight: bold;
	font-style: normal;
	line-height: 12px; 
	text-decoration: none;
	font-variant: normal:
}

h3
{
	font-family: Verdana;
	Font-size: 15px;
	color: #0b2b55;
	font-weight: bold;
	font-style: normal;
	line-height: 22px; 
	text-decoration: none;
	font-variant: normal:
}

h4
{
	font-family: Verdana;
	Font-size: 10px;
	color: #084c93;;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	font-variant: normal:
}

h5
{
	font-family: Verdana;
	font-size: 11px;
	color: #ffffff;
	line-height: 16px;
	font-style: normal; 
	text-decoration: none;
	font-weight: normal;
	text-align: none;
}


a.readmore 
{
	font-family:verdana;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	line-height: 16px;
	color: #216bc0;
}

a.readmore:hover 
{
	font-family:verdana;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	line-height: 16px;
	color: #0ab3da;
}

a.readmore1 
{
	font-family:Verdana;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	line-height: 10px;
	color: #ffffff;
}

a.readmore1:hover 
{
	font-family:Verdana;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	line-height: 10px;
	color: #ffffff;
}


a.signup
{
	font-family:verdana;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}

a.signup:hover 
{
	font-family:verdana;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #e3e3e3;
}

a.downbar
{
	font-family:Verdana;
	color: #000000;
	font-size: 10px;
	font-weight:bold;
	text-decoration: none;
}

a.downbar:hover 
{
	font-family:Verdana;
	color: #0b2b55;
	font-size: 10px;
	font-weight:bold;
	text-decoration: none;
}


a.bottom-link 
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	color: #f835f1;
}

a.bottom-link:hover 
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	color: #ffcefe;
}

/* Copyright Releted Stylesheets */
.copyright-back 
{
	background-color: #ffffff;
}

.copyright
{
	font-family: verdana;
	font-size: 11px;
	color: #ffffff;
	line-height: 24px;
	text-decoration: none; 
}

.copyright-bold
{
	font-family: verdana;
	font-size: 11px;
	color: #ffffff;
	line-height: 24px;
	text-decoration: none;
	font-weight: bold;
}


.email
{
	font-family: verdana;
	font-size: 11px;
	color: #000000;
	font-weight:bold;
	text-decoration: none;
}

.email:hover
{
	font-family: Verdana;
	font-size: 11px;
	color: #fc822b;
	font-weight:bold;
	text-decoration: none;
}

a.scroll 
{
font-family: Verdana;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #000000
}


a.scroll:hover 
{
font-family: Verdana;
font-size: 10px;
font-weight: bold;
text-decoration: none;
color: #FF0000;
}

.table-color
{
	background-color: #ebebeb;
}

.td-light
{
	font-family: Verdana;
	font-size: 11px;
	background-color: #ffffff;
}

.td-dark
{
	font-family: Verdana;
	font-size: 11px;
	background-color: #ffffff;
}

.td-light1
{
	font-family: Verdana;
	font-size: 10px;
	background-color: #c0a888;
}

.td-dark1
{
	font-family: Verdana;
	font-size: 10px;
	background-color: #c7c8cc;
}

.i-1
{
	background-image: url(../i/i-1-1-1.png);
	background-repeat: no-repeat;
	width:1000px;
	height:91px;
}

.i-2{
	background-image: url(../i/i-2.gif);
	background-repeat: no-repeat;
	width:1000px;
	height:30px;
}

.i-3{
	background-image: url(../i/i-3.gif);
	background-repeat: no-repeat;
	width:189px;
	height:33px;
}

.i-6{
	background-image: url(../i/i-6.gif);
	background-repeat: no-repeat;
	width:194px;
	height:232px;
}

.i-8{
	background-image: url(../i/i-8.gif);
	background-repeat: no-repeat;
	width:203px;
	height:31px;
}

.i-9{
	background-image: url(../i/i-9.gif);
	background-repeat: no-repeat;
	width:194px;
	height:181px;
}


.i-10{
	background-image: url(../i/i-10.gif);
	background-repeat: no-repeat;
	width:334px;
	height:178px;
}

.i-11{
	background-image: url(../i/i-11.gif);
	background-repeat: no-repeat;
	width:390px;
	height:245px;
}

.i-12{
	background-image: url(../i/i-12.gif);
	background-repeat: no-repeat;
	width:397px;
	height:128px;
}

.i-13{
	background-image: url(../i/i-13-2.png);
	background-repeat: no-repeat;
	width:327px;
	height:131px;
}

.i-16{
	background-image: url(../i/i-16.gif);
	background-repeat: no-repeat;
	width:107px;
	height:25px;
}

.i-19{
	background-image: url(../i/i-19.gif);
	background-repeat: no-repeat;
	width:135px;
	height:28px;
}

.i-20{
	background-image: url(../i/i-20.gif);
	background-repeat: no-repeat;
	width:802px;
	height:49px;
}


.arrow-1{
	background-image: url(../i/i-7.gif);
	background-repeat: no-repeat;
             width:16px;
	height:14px;
}

.type{
	
	width:204px;
	
}

.btnAll {
	border:2px solid #145dbc;
	background-color:#ffffff;
	font-family:verdana;
	font-size:12px;
	color: #0757bf;
	font-weight:bold;
}
li ul {
    display: none;
}
li:hover > ul {
    display: block;
}

.map{
	background-image: url(../i/map.jpg);
	background-repeat: no-repeat;
	width:750px;
	height:566px;
}



.arrow-1{
	background-image: url(../i/i-7.gif);
	background-repeat: no-repeat;
             width:16px;
	height:14px;
}

.type{
	
	width:204px;
	
}

.btnAll {
	border:2px solid #930;
	background-color:#F2E3C8;
	font-family:verdana;
	font-size:12px;
	color: #000;
	font-weight:bold;
}

li ul {
    display: none;
}
li:hover > ul {
    display: block;
}

.bor-left
{
border-left:1px solid #ff9c00;
}

.sitemap-link1
{
	font-family:Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #000000;
	text-decoration:none;
}
.sitemap-link1:hover
{
	font-family: Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #3f4d00;
	text-decoration:none;
}
.sitemap-link2
{
	font-family: Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #383dff;
	text-decoration:none;
}
.sitemap-link2:hover
{
	font-family: Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #FE7403;
	text-decoration:none;
}
.sitemap-link3
{
	font-family: Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #8f6800;
	text-decoration:none;
}
.sitemap-link3:hover
{
	font-family: Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #4a4a4a;
	text-decoration:none;
}

.sitemap-link4
{
	font-family: Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #0197ab;
	text-decoration:none;
}
.sitemap-link4:hover
{
	font-family: Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #4a4a4a;
	text-decoration:none;
}
.small-link
{
	font-family: Verdana;
	font-size: 10px;
	font-weight:normal;
	color: #2E2E2E;
	text-decoration:none;
}
.small-link:hover
{
	font-family: Verdana;
	font-size: 10px;
	font-weight:normal;
	color: #FE7403;
	text-decoration:underline;
}


.treeview ul{ /*CSS for Simple Tree Menu*/
margin: 0;
padding: 0;
}

.treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
background: white url(..i/list.gif) no-repeat left center;
list-style-type: none;
padding-left: 22px;
margin-bottom: 3px;
}

.treeview li.submenu{ /* Style for LI that contains sub lists (other ULs). */
background: white url(..i/closed.gif) no-repeat left 1px;
cursor: hand !important;
cursor: pointer !important;
}


.treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
display: none; /*Hide them by default. Don't delete. */
}

.treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
cursor: default;
}

.toplink6
{
	font-family: Verdana;
	color: #000000;
	font-size: 12px;
	font-weight:bold;
	text-decoration: none;
}

.toplink6:hover
{
	font-family: Verdana;
	color: #216bc0;
	font-size: 12px;
	font-weight:bold;
	text-decoration: none;
}

.toplink7
{
	font-family: Verdana;
	color: #ff4c00;
	font-size: 12px;
	font-weight:bold;
	text-decoration: none;
}

.toplink7:hover
{
	font-family: Verdana;
	color: #303030;
	font-size: 12px;
	font-weight:bold;
	text-decoration: none;
}

.round{
	background-image: url(../i/round.gif);
	background-repeat: no-repeat;
	width:7px;
	height:7px;

	
}



.layer
{
	font-family:Verdana;
	color: #ffffff;
	font-size: 10px;
	font-weight:bold;
	text-decoration: none;
	line-height:16px;
}

.layer:hover
{
	font-family:Verdana;
	color: #ffffff;
	font-size: 10px;
	font-weight:bold;
	text-decoration: none;
	line-height:16px;
}

.strong-1
{
	font-family: Verdana;
	font-size: 11px; 
	font-style: normal; 
	font-weight: bold; 
	color: #fff220;
	line-height: 16px;
	text-decoration: none;
}

.strong-1:hover
{
	font-family: Verdana;
	font-size: 11px; 
	font-style: normal; 
	font-weight: bold; 
	color: #fff220;
	line-height: 16px;
	text-decoration: none;
}
.body{

}
a.style_new{
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	color:#CC0000;
}
.style_new{
	color:#196C9E;
	font-family:Verdana;
	font-size:16px;
	font-weight:bold;
}
a.style_new1{
	color:#196C9E;
	font-family:Verdana;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
}
.text_style{
font-family: Verdana;
color:#333333;
font-size:14px;
font-weight:bold;
}
.text_style14{
font-family:Verdana;
color:#333333;
font-size:14px;
}
.text_style16{
font-family:Verdana;
color:#333333;
font-size:16px;
}
.text_style10{
font-family:Verdana;
color:#333333;
font-size:12px;
font-weight:bold;
}
.text_colo{
font-family:Verdana;
color:#CC6600;
font-size:12px;
font-weight:bold;
}
.text_colo14{
font-family:Verdana; color:#CC6600;
font-size:14px;
font-weight:bold;
}
.text_colo16{
font-family:Verdana; color:#CC6600;
font-size:16px;
font-weight:bold;
}
.text_colo18{
font-family:Verdana; color:#CC6600;
font-size:18px;
font-weight:bold;
}
.text_colo20{
font-family:Verdana; color:#CC6600;
font-size:20px;
font-weight:bold;
}
.text_colo22{
font-family:Verdana; color:#CC6600;
font-size:22px;
font-weight:bold;
}
.text_colb16{
font-family:Verdana; color:#0B2B55;
font-size:16px;
font-weight:bold;
}
.toplink15
{
	font-family:Verdana; 
	color:#000000;
	font-size: 12px;
	font-weight:bold;
	text-decoration: none;
}
.toplink15:hover
{
	font-family:Verdana;
       color:#808080;
	font-size: 14px;
	font-weight:bold;
	text-decoration: none;
}

/*	Code Modified By TeraSoft.20-05-10  */
.i-21{
	background-image: url(../i/i-6.gif);
	background-repeat: no-repeat;
	width:194px;
	margin-top:0px;
}
/*	Code Modified By TeraSoft.20-05-10  */