/* CSS Document */

body {
	background-image: url(images/bg_01.gif);
	background-repeat: repeat-x;
	background-color: #FAFAFA;
}
a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6DB2DC;
	text-decoration: underline;
}
td {
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
}

.txt2 {
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	color: #0E3487;
	padding-left: 5px;
}
.formtxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}

.txt3 {
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	color: #FFFFFF;
}
.box {
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #999999;
	font-weight: bold;
	color: #0D7CC9;
	background-image: url(images/bg.jpg);
	background-repeat: repeat-x;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: #333333;
	text-decoration: none;
	text-align: justify;
}
.inn-Head {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}
.head {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #003399;
	text-decoration: none;
}

.style3 {font-family: Tahoma, Arial, Verdana; font-size: 11px; color: #69B2DF; font-weight: bold; }
a.txt {
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	color: #69B2DF;
}
a.txt:hover {
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	color: #000000;
}
.txt-text {
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	color: #69B2DF;
}
.txt-text-bold {
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	color: #69B2DF;
	font-weight: bold;
}
.footer-link
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 10px;
	font-weight:bold;
	color: #0C2977;
	text-decoration:none;
}
.footer-link:hover
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 10px;
	font-weight:bold;
	color: #CC0000;
	text-decoration:underline;
}
.bold-txt
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #000000;
	text-decoration:none;
}
.disclaimer-link
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight:normal;
	color: #666666;
	text-decoration:underline;
}
.disclaimer-link:hover
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight:normal;
	color: #CC0000;
	text-decoration:none;
}
.footer-txt
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight:normal;
	color: #666666;
	text-decoration:none;
}
.bg-white
{
background-color:#FFFFFF;
}
.content
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight:normal;
	color: #292929;
	text-decoration:none;
}
.subhead-1
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #294E9F;
	text-decoration:none;
}
.head-link
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #1D51A0;
	text-decoration:none;
}
.head-link:hover
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #84320A;
	text-decoration:underline;
}
.subhead-link
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight:normal;
	color: #1D51A0;
	text-decoration:none;
}
.subhead-link:hover
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight:normal;
	color: #84320A;
	text-decoration:underline;
}
.bg-1
{
background-color:#E5EDFA;
}
.bor-1
{
border:1px solid #345A98;
}
.header-bg
{
	background-image:url(images/header-bg.jpg);
	background-repeat:no-repeat;
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #ffffff;
	text-decoration:none;
	padding-left:22px;
	text-transform: uppercase;
	height: 34px;
}

.search-head
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #0D317F;
	text-decoration:none;
}
.bor-left
{
border-left:1px solid #5F5F5F;
}
.sitemap-link-1
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #FE7403;
	text-decoration:none;
}
.sitemap-link-1:hover
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #3A70D0;
	text-decoration:underline;
}
.sitemap-link-2
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #3A70D0;
	text-decoration:none;
}
.sitemap-link-2:hover
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #FE7403;
	text-decoration:underline;
}
.sitemap-link-3
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight:normal;
	color: #5F5F5F;
	text-decoration:none;
}
.sitemap-link-3:hover
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight:normal;
	color: #FE7403;
	text-decoration:underline;
}
.small-link
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 10px;
	font-weight:normal;
	color: #2E2E2E;
	text-decoration:none;
}
.small-link:hover
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 10px;
	font-weight:normal;
	color: #FE7403;
	text-decoration:underline;
}